<p>
  <h1> <%= @profile.name %> </h1>
</p> 
<h3> Recent tweets </h3>
<% @tweets.each do |tweet| %>
  <div class="well">
    <%= tweet.tweet %>
    <div>
      <%= tweet.author.email %>
      <%= time_ago_in_words tweet.created_at %>
      ago
    </div>  
  </div>
<% end %>
