<h1>Tweets</h1>
<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary pull-right" %>
<% @tweets.each do |tweet| %>
  <div class="well">
    <%= tweet.tweet %>
    <div>
      <%= tweet.author.email %>
      <%= time_ago_in_words tweet.created_at %>
      ago
    </div>  
  </div>
<% end %>



